.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 500px;
  background-color: #fafafa94;

  border-radius: 10px;
}
.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  min-width: 200px;
}
.button {
  margin-top: 50px;
}
